@{
    var token = Context.Request.Cookies["AccessToken"];
    bool isAuthenticated = !string.IsNullOrEmpty(token);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Manager</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />

    <!-- Fonts and icons -->
    <script src="@Url.Content("~/AdminAssets/js/plugin/webfont/webfont.min.js")"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["@Url.Content("~/AdminAssets/css/fonts.min.css")"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/AdminAssets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/AdminAssets/css/plugins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/AdminAssets/css/kaiadmin.min.css")" />
    <link rel="icon" type="image/x-icon" href="~/images/fav_icon.png" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="@Url.Content("~/AdminAssets/css/demo.css")" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a title="" asp-page="/Index"><img style="width:85%;" src="~/AdminAssets//img//Logowhite.png" alt=""></a>

                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item @(ViewData["ActivePage"] as string == "Dashboard" ? "active" : "")">
                            <a asp-page="/Admin/Dashboard/Index">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Components</h4>
                        </li>
                        <li class="nav-item @(ViewData["ActivePage"] as string == "UserManager" ? "active" : "")">
                            <a asp-page="/Admin/UserManager/Index">
                                <i class="fas fa-address-book"></i>
                                <p>User Manager</p>
                            </a>
                        </li>
                        @{
                            var isPostManager = (ViewData["ActivePage"] as string ?? "").StartsWith("PostManager");
                        }
                        <li class="nav-item @(isPostManager ? "active" : "")">
                            <a data-bs-toggle="collapse" href="#collapsePostManager" aria-expanded="false">
                                <i class="fas fa-clipboard"></i>
                                <p>Post Manager</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="collapsePostManager">
                                <ul class="nav nav-collapse">
                                    <li class="@(ViewData["ActivePage"] as string == "PostManager.ListPost" ? "active" : "")">
                                        <a asp-page="/Admin/PostManager/Index">
                                            <span class="sub-item">List Post</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "PostManager.ListDeleted" ? "active" : "")">
                                        <a asp-page="/Admin/PostManager/ListDeleted">
                                            <span class="sub-item">List Deleted</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @{
                            var isTransactionManager = (ViewData["ActivePage"] as string ?? "").StartsWith("TransactionManager");
                        }
                        <li class="nav-item @(isTransactionManager ? "active" : "")">
                            <a data-bs-toggle="collapse" href="#collapseTransactionManager" aria-expanded="false">
                                <i class="fas fa-chart-line"></i>
                                <p>Transaction Manager</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="collapseTransactionManager">
                                <ul class="nav nav-collapse">
                                    <li class="@(ViewData["ActivePage"] as string == "TransactionManager.ListTransaction" ? "active" : "")">
                                        <a asp-page="/Admin/TransactionManager/Index">
                                            <span class="sub-item">List Transaction</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "PostManager.ListDeleted" ? "active" : "")">
                                        <a asp-page="/Admin/PostManager/ListDeleted">
                                            <span class="sub-item">List Deleted</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @{
                            var isReportManager = (ViewData["ActivePage"] as string ?? "").StartsWith("ReportManager");
                        }
                        <li class="nav-item @(isReportManager ? "active" : "")">
                            <a data-bs-toggle="collapse" href="#collapseReportManager" aria-expanded="false">
                                <i class="far fa-clipboard"></i>
                                <p>Report Manager</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="collapseReportManager">
                                <ul class="nav nav-collapse">
                                    <li class="@(ViewData["ActivePage"] as string == "ReportManager.Users" ? "active" : "")">
                                        <a asp-page="/Admin/ReportManager/UsersReport/Index">
                                            <span class="sub-item">Users</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "ReportManager.Posts" ? "active" : "")">
                                        <a asp-page="/Admin/ReportManager/PostsReport/Index">
                                            <span class="sub-item">Posts</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "ReportManager.Comments" ? "active" : "")">
                                        <a asp-page="/Admin/ReportManager/CommentsReport/Index">
                                            <span class="sub-item">Comments</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "ReportManager.Workshops" ? "active" : "")">
                                        <a asp-page="/Admin/ReportManager/WorkshopsReport/Index">
                                            <span class="sub-item">Workshops</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "ReportManager.Events" ? "active" : "")">
                                        <a asp-page="/Admin/ReportManager/EventsReport/Index">
                                            <span class="sub-item">Events</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @{
                            var isConrseManager = (ViewData["ActivePage"] as string ?? "").StartsWith("CourseManager");
                        }
                        <li class="nav-item @(isConrseManager ? "active" : "")">
                            <a data-bs-toggle="collapse" href="#collapseConrseManager" aria-expanded="false">
                                <i class="fas fa-graduation-cap"></i>
                                <p>Conrse Manager</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="collapseConrseManager">
                                <ul class="nav nav-collapse">
                                    <li class="@(ViewData["ActivePage"] as string == "CourseManager.ListConrse" ? "active" : "")">
                                        <a asp-page="/Admin/CourseManager/Index">
                                            <span class="sub-item">List Conrse</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewData["ActivePage"] as string == "CourseManager.ListPending" ? "active" : "")">
                                        <a asp-page="/Admin/CourseManager/ListPending">
                                            <span class="sub-item">List Pending</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="@Url.Content("~/AdminAssets/img/kaiadmin/logo_light.svg")"
                                 alt="navbar brand"
                                 class="navbar-brand"
                                 height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                            </li>

                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="@Url.Content("~/AdminAssets/img/profile.jpg")"
                                             alt="..."
                                             class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">Admin</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="@Url.Content("~/AdminAssets/img/profile.jpg")"
                                                     alt="image profile"
                                                     class="avatar-img rounded" />
                                            </div>
                                            <div class="u-text">
                                                <h4>Admin</h4>
                                                <p class="text-muted">Admin@example.com</p>
                                            </div>
                                        </div>
                                    </li>
                                        @if (isAuthenticated)
                                        {
                                        <li>
                                            <form method="get" asp-page="/Logout">
                                                <button type="submit" class="btn btn-link text-danger">Logout</button>
                                            </form>
                                        </li>
                                        }
                    </div>
                    </ul>
                    </li>
                    </ul>
            </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <div class="container">
            <div class="page-inner">
                    @RenderBody()
                    @Html.Partial("_Notification")
            </div>
        </div>

    </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/AdminAssets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/AdminAssets/js/core/popper.min.js"></script>
    <script src="~/AdminAssets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/AdminAssets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/AdminAssets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/AdminAssets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/AdminAssets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/AdminAssets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/AdminAssets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/AdminAssets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/AdminAssets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/AdminAssets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/AdminAssets/js/kaiadmin.min.js"></script>

    <script>
        // Reset loading session khi có token mới
        document.addEventListener('DOMContentLoaded', function () {
            // Kiểm tra nếu có token và chưa reset trong session này
            const hasToken = document.cookie.includes('AccessToken=');
            const hasResetThisSession = sessionStorage.getItem('hasResetLoadingToday');

            if (hasToken && !hasResetThisSession) {
                sessionStorage.removeItem('courseRecommendLoadingShown');
                sessionStorage.setItem('hasResetLoadingToday', 'true');
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
